*.cdb
*.hdb
*.qmsg
*.rdb
*.xml
*.logdb
*.db_info
*.hier_info
*.hif
*.ipinfo
*.html
*.txt
*.ddb
*.sci
*.syn_hier_info
*.tdf
*.dat
*.kpt
*.rpt
*.cdf
*.done
*.summary
*.jdi
*.pof
Altera_VHDL/VideoNew/output_files/
Altera_VHDL/VideoNew/db/NBVideoContr.atom.rvd
Altera_VHDL/VideoNew/db/
Altera_VHDL/VideoNew/incremental_db/
